{% extends 'base.html' %}
{% load widget_tweaks %} 

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Add Post | Noah Da Silva</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.is_staff == True %}

<div class="default-section wf-section">
  <div class="default-section-content">
    <div class="form-wrapper">
      <h1 class="h3-heading">Add post...</h1>
      <div class="w-form">
        <form
          class="auth-form"
          action="#"
          method="POST"
          enctype="multipart/form-data">
          {% csrf_token %} {{ form.media }}
          {{ form.non_field_errors }}
          <div>
            {{ form.title.label_tag }}
            {{ form.title|add_class:"input w-input" }}
            <span style="font-size: 14px;">{{ form.title.errors }}</span>
          </div>
          <div>
            {{ form.author.label_tag }}
            {{ form.author|add_class:"input form-selection w-input" }}
            <span style="font-size: 14px;">{{ form.author.errors }}</span>
          </div>
          <div>
            {{ form.author_plug.label_tag }}
            {{ form.author_plug|add_class:"input w-input" }}
            <span style="font-size: 14px;">{{ form.author_plug.errors }}</span>
          </div>
          <div>
            {{ form.image.label_tag }}
            {{ form.image|add_class:"input w-input" }}
            <span style="font-size: 14px;">{{ form.image.errors }}</span>
          </div>
          <div>
            {{ form.tags.label_tag }}
            {{ form.tags|add_class:"input form-message w-input" }}
            <span style="font-size: 14px;">{{ form.tags.errors }}</span>
          </div>
          <div>
            {{ form.summary.label_tag }}
            {{ form.summary|add_class:"input form-message w-input" }}
            <span style="font-size: 14px;">{{ form.summary.errors }}</span>
          </div>
          <div>
            {{ form.content.label_tag }}
            {{ form.content|add_class:"input form-message w-input" }}
            <span style="font-size: 14px;">{{ form.content.errors }}</span>
          </div>
          <div>
            <button class="submit-btn w-button">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  {% endif %}
{% endif %}

{% endblock %}
