{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>{{ post.title }} | Blog | Noah Da Silva</title>
<meta name="author" content="{{ post.author }}">
<meta name="keywords" content="{% for tag in post.get_tags %}{{ tag }}, {% endfor %}noahdasilva">
<meta name="description" content="{{ post.summary }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="{{ post.title }}" />
<meta propety="og:description" content="{{ post.summary }}" />
<meta property="og:url" content="https://www.noahdasilva.com/blog/{{ post.slug }}"/>
<meta propety="og:image" content="{{ post.image.url }}" />
{% endblock %} 

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>
{% endblock %}

{% block content %}
<div class="default-section wf-section">
  <div class="w-layout-grid grid-blog-post">
    <div
      id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff226-bb83a922"
      class="img-blog-post-wrap">
      <img
        sizes="92vw"
        loading="lazy"
        src="{{ post.image.url }}"
        alt=""
        class="img-blog-post"/>
    </div>
    <div class="w-layout-grid grid-title-blog">
      <p
        id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff229-bb83a922"
        class="web-title-gradient">
        {{ post.created_on|date:"F d, Y" }}
      </p>
      <h1 class="blog-heading">{{ post.title }}</h1>
      <div
        id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff22d-bb83a922"
        class="title-line-spacer">
      </div>
      <p class="title-blog-summary">{{ post.summary }}</p>
      <a href=" {{ post.author_plug }}"
        target="_blank"
        class="blog-author-link-block w-inline-block">
        <p class="web-title-gray">By </p>
        <p class="web-title-gradient">

          {% if post.author.full_name %}

            {{ post.author.full_name }}

          {% else %}

            {{ post.author.username }}

          {% endif %}

        </p>
      </a>
      <div
        id="w-node-be6f9a40-4a00-5f23-1d48-7a4fd7c6685e-bb83a922"
        class="tag-flex">

      {% for name, slug in post.get_tags_and_slugs %}

        <a href="{% url 'tags' %}{{ slug }}" class="blog-author-link-block w-inline-block">
          <h2 class="tag-div">#{{ name }}</h2>
        </a>

      {% endfor %}

      </div>
    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="section-container-post-body w-container">
    <div class="last-updated-block">
      <p class="web-title-gradient">Last updated</p>
      <div
        id="w-node-_0ad5ae62-7a30-1e3a-9512-bd0376b03112-bb83a922"
        class="blog-line-spacer">
      </div>
      <p id="w-node-_0ad5ae62-7a30-1e3a-9512-bd0376b03113-bb83a922"
        class="web-title-gray">
        {{ post.updated_on|date:"F d, Y" }}
      </p>
    </div>
    <div class="blog-post-body w-richtext">{{ post.content|safe }}</div>

    {% if user.is_authenticated %}
      {% if user.is_staff == True %}

    <div class="wide-btn-div short-top-margin">
      <a href="{% url 'edit-post' post.slug %}" class="btn w-button">Edit post</a>
    </div>
    <div class="wide-btn-div short-top-margin">
      <a href="{% url 'delete-post' post.slug %}" class="btn w-button">Delete post</a>
    </div>

      {% endif %}
    {% endif %}

  </div>
  <div class="section-container-post-body w-container">
    <form action={% url 'like_post' post.pk %} method="POST" class="post-like-div">
      {% csrf_token %}
      <div>
        <h2 class="h6-heading">Found this useful?</h2>
        <p class="comment-paragraph">
          {{ post.get_total_likes }} users liked this post.
        </p>
      </div>

      {% if user.is_authenticated %}
        {% if user not in post.likes.all %}

      <div class="like-btn-div">
        <button type="submit" name="post_id" value="{{ post.pk }}" class="btn large-text w-button">
          <span class="fa900solid-span"></span>
        </button>

        {% else %}

        <div class="like-btn-div">
        <button type="submit" name="post_id" value="{{ post.pk }}" class="btn large-text w-button">
          <span class="fa900solid-span"></span>
        </button>

        {% endif %}

      </div>

      {% else %}

      <div class="like-btn-div">
        <a href="{% url 'login' %}?next={% url 'blog-post' post.slug %}" class="btn large-text w-button">
          <span class="fa900solid-span"></span>
        </a>
      </div>

      {% endif %}

    </form>
    <h2 class="h5-heading">{{ total_comments }} Comments</h2>
    <div class="w-form">
      <form action="{% url 'comment_post' post.pk %}" method="POST" class="comment-form" >
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div id="w-node-cbc712d9-4784-f4ef-e32c-b56909c41c6d-bb83a922">
          <label>Leave a reply</label>
          <textarea
            id="user_comment"
            name="user_comment"
            maxlength="512"
            placeholder="Add a comment."
            class="input form-comment w-input"></textarea>
        </div>

        {% if user.is_authenticated %}

        <button type="submit" name="post_id" value="{{ post.pk }}" class="submit-btn w-button" id="w-node-cbc712d9-4784-f4ef-e32c-b56909c41c71-bb83a922">
          Post
        </button>

        {% else %}

        <a href="{% url 'login' %}?next={% url 'blog-post' post.slug %}" class="submit-btn w-button" id="w-node-cbc712d9-4784-f4ef-e32c-b56909c41c71-bb83a922">
          Post
        </a>

        {% endif %}

      </form>
    </div>
    <div class="w-layout-grid post-comment-grid">

      {% if comment_list %}
        {% for comment in comment_list %}

      <div
        id="w-node-_84580d0e-8897-2cfb-16c8-62b9016e70d4-bb83a922"
        class="post-comment-div">
        <div class="user-comment-div">
          <p class="web-title-gradient">{{ comment.user.username }}</p>
          <div
            id="w-node-_8b2cdc24-2a4f-15eb-81cd-7c2b6a80c219-bb83a922"
            class="blog-line-spacer">
          </div>
          <p id="w-node-_8b2cdc24-2a4f-15eb-81cd-7c2b6a80c21a-bb83a922" class="web-title-gray">
            {{ comment.created_on }}
          </p>

          {% if user.is_authenticated %}
            {% if user == comment.user or user.is_staff %}
            
          <form action="{% url 'remove_comment_post' comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.pk }}">
            <button href="" class="delete-btn">Delete</button>
          </form>

            {% endif %}
          {% endif %}

        </div>
        <p class="comment-paragraph">
          {{ comment.body|safe}}
        </p>
      </div>

        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
<div class="anti-hero-section-light-purple wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid title-grid">
      <p class="web-title">Finished reading?</p>
      <h2>Check out other posts just like this one.</h2>
    </div>

    {% if post_list.0 %}

    <div class="w-layout-grid dynamic-grid">

      {% for post in post_list|slice:"0:4" %}

      <a href="{% url 'blog-post' post.slug %}"
        class="blog-card-square w-inline-block"
        style="background-image: url({{ post.image.url }});">
        <div class="blog-card-div">
          <div class="tag-flex">

            {% for tag in post.get_tags %}

            <div class="tag-block">
              <div class="hashtag">#</div>
              <div class="hashtag">{{ tag }}</div>
            </div>

            {% endfor %}

          </div>
          <h3 class="card-heading centered">{{ post.title }}</h3>
          <div class="hashtag">{{ post.created_on|date:"F d, Y" }}</div>
        </div>
        <div class="gradient-overlay"></div>
      </a>

      {% endfor %}

    </div>

    {% else %}

    <div class="banner-content-div">
      <h2 class="h4-heading">This place is a void!</h2>
      <p>There are currently no posts published on the site.</p>
    </div>

    {% endif %}

    <div class="wide-btn-div short-top-margin">
        <a href="{% url 'tags' %}" class="btn w-button">Explore all topics</a>
    </div>
  </div>
</div>
{% endblock %}