{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Blog | Noah Da Silva</title>
<meta name="author" content="Noah Da Silva">
<meta name="keywords" content="blog, technology, noahdasilva">
<meta name="description" content="Welcome to the Information Galaxy. We offer tutorials, articles, and news on a wide range of topics."/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Blog" />
<meta propety="og:description" content="Welcome to the Information Galaxy. We offer tutorials, articles, and news on a wide range of topics."/>
<meta property="og:url" content="https://www.noahdasilva.com/blog/" />
<meta propety="og:image" content="{% static 'main/img/webclip.png' %}"/>
{% endblock %}

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>
{% endblock %}

{% block content %}
<div class="hero-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid hero-title-grid">
      <h1>Welcome to the Information Galaxy</h1>
      <p class="hero-paragraph no-margin">
        <span class="gradient-span">
          We offer tutorials, articles, and news on a wide range of topics.
        </span>
      </p>
    </div>
  </div>
  <div class="default-section-content">
    <div class="banner-content-div">
      <h2 class="h4-heading">Unsure where to start?</h2>
      <p>
        On this page, we&#x27;ve laid out a few easy ways for you to start reading.
      </p>
    </div>
  </div>
</div>
<div class="default-section-light-purple wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid title-grid-horizontal">
      <div
        id="w-node-_8ca048d7-255b-f33d-b871-9cdacf9285aa-4280d04e"
        class="title-left">
        <p
          id="w-node-_8ca048d7-255b-f33d-b871-9cdacf9285ab-4280d04e"
          class="web-title-gradient">
          web3 is right around the corner
        </p>
        <h2>Latest Post</h2>
      </div>
      <div class="title-right" id="w-node-_8ca048d7-255b-f33d-b871-9cdacf9285b3-4280d04e">
        <a href="{% url 'tags' %}" class="btn w-button">View all posts</a>
      </div>
    </div>
    <div class="w-layout-grid single-col-grid" id="w-node-_89e22a60-6db5-7215-133d-091e96de9134-4280d04e">
      
      {% if post_list.0 %}
      
      <a href="{% url 'blog-post' post_list.0.slug %}" class="blog-card w-inline-block">
        <div
          class="blog-card-left"
          style="background-image: url({{ post_list.0.image.url }});"
          role="img"
          aria-label="{{ post_list.0.image_alt_text }}">
        </div>
        <div class="blog-card-right">
          <div class="top-wrapper">
            <div class="tag-flex start-justify">
              
              {% for tag in post_list.0.get_tags %}
              
              <div class="tag-block">
                <div class="hashtag-purple">#</div>
                <div class="hashtag">{{ tag }}</div>
              </div>
              
              {% endfor %}

            </div>
            <div class="hashtag-purple">
              {{ post_list.0.created_on|date:"F d, Y" }}
            </div>
          </div>
          <h3 class="card-heading">{{ post_list.0.title }}</h3>
          <div class="card-description">
            {{post_list.0.summary|truncatechars:100 }}<br />
          </div>
          <div class="arrow-btn-txt">
            Read more <span class="fa900solid-span"></span>
          </div>
        </div>
      </a>
      
      {% endif %}

    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid title-grid">
      <h2>Find your favorite topics</h2>
      <p class="hero-paragraph">
        Explore posts which cover the topics you care most about.
      </p>
    </div>
    
    {% if tag_list.7 %}

    <div class="w-layout-grid topics-grid">
      <div class="topic-col">
        <a href="{% url 'tag-detail' tag_list.0.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-short hue45">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.0.special }}</span>
            </div>
            <h3
              id="w-node-_7e0434aa-2d13-374e-9e6b-efbf680490be-4280d04e"
              class="h5-heading">
              {{ tag_list.0.name }}
            </h3>
          </div>
        </a>
        <a href="{% url 'tag-detail' tag_list.1.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-tall hue315">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.1.special }}</span>
            </div>
            <h3
              id="w-node-f0c680e1-d1fd-cc7c-2d50-64e7f478fff8-4280d04e"
              class="h5-heading">
            {{ tag_list.1.name }}
            </h3>
          </div>
        </a>
      </div>
      <div class="topic-col">
        <a href="{% url 'tag-detail' tag_list.2.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-tall">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.2.special }}</span>
            </div>
            <h3
              id="w-node-_3b806504-33c5-9c38-7e96-7c4a9f838ba5-4280d04e"
              class="h5-heading">
            {{ tag_list.2.name }}
            </h3>
          </div>
        </a>
        <a href="{% url 'tag-detail' tag_list.3.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-short hue315">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.3.special }}</span>
            </div>
            <h3
              id="w-node-_5fa38e5f-245a-8f81-d3ca-14d3737075ae-4280d04e"
              class="h5-heading">
            {{ tag_list.3.name }}
            </h3>
          </div>
        </a>
      </div>
      <div class="topic-col">
        <a href="{% url 'tag-detail' tag_list.4.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-short">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.4.special }}</span>
            </div>
            <h3
              id="w-node-_9343c46b-43e3-c143-896a-77a19f29dfef-4280d04e"
              class="h5-heading">
            {{ tag_list.4.name }}
            </h3>
          </div>
        </a>
        <a href="{% url 'tag-detail' tag_list.5.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-tall hue45">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.5.special }}</span>
            </div>
            <h3
              id="w-node-_0688155b-d1df-7ff1-c4e1-e803ba07d302-4280d04e"
              class="h5-heading">
            {{ tag_list.5.name }}
            </h3>
          </div>
        </a>
      </div>
      <div class="topic-col">
        <a href="{% url 'tag-detail' tag_list.6.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-tall hue315">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.6.special }}</span>
            </div>
            <h3
              id="w-node-_6687eb29-4a62-e3b9-dc0d-544e6bed7982-4280d04e"
              class="h5-heading">
            {{ tag_list.6.name }}
            </h3>
          </div>
        </a>
        <a href="{% url 'tag-detail' tag_list.7.slug %}" class="topic-link w-inline-block">
          <div class="w-layout-grid topic-div-short">
            <div id="w-node-_10b6ca44-f128-3665-c075-6c06e011f18d-4280d04e" class="topic-icon">
              <span class="fa900solid-span" style="font-size: 2rem;">{{ tag_list.7.special }}</span>
            </div>
            <h3
              id="w-node-_45ae0213-42ed-960e-9143-28556713062b-4280d04e"
              class="h5-heading">
              {{ tag_list.7.name }}
            </h3>
          </div>
        </a>
      </div>
    </div>

    {% endif %}

  </div>
</div>
<div class="default-section-light-purple wf-section">
  <div class="default-section-content">
    <div class="center-compress-div">
      <div class="w-layout-grid title-div-with-action">
        <h3 class="h4-heading no-margin">
          Check out even more topics that may peak your interest.
        </h3>
        <a href="{% url 'tags' %}" class="btn w-button">all tags</a>
      </div>
    </div>
  </div>
</div>
<div class="anti-hero-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid title-grid">
      <p class="web-title-gradient">Not finding what you are looking for?</p>
      <h2>Here are some of our suggestions</h2>
    </div>

    {% if post_list.1 %}

    <div class="w-layout-grid dynamic-grid">

      {% for post in post_list|slice:"1:5" %}

      <a href="{% url 'blog-post' post_list.1.slug %}"
        class="blog-card-square w-inline-block"
        style="background-image: url({{ post.image.url }});"
        role="img"
        aria-label="{{ post.image_alt_text }}">
        <div class="blog-card-div">
          <div class="tag-flex">

            {% for tag in post.get_tags %}

            <div class="tag-block">
              <div class="hashtag">#</div>
              <div class="hashtag">{{ tag }}</div>
            </div>

            {% endfor %}

          </div>
          <h3 class="card-heading centered">{{ post.title }}</h3>
          <div class="hashtag">{{ post.created_on|date:"F d, Y" }}</div>
        </div>
        <div class="gradient-overlay"></div>
      </a>

      {% endfor %}

    </div>

    {% else %}

    <div class="banner-content-div">
      <h2 class="h4-heading">This place is a void!</h2>
      <p>There are currently no other posts published on the site.</p>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
