<div class="footer-wrapper">
    <a href="blog.html" class="banner-link w-inline-block">
      <div class="w-layout-grid footer-banner-grid">
        <div id="w-node-_5cb3cddc-fa2b-074d-8094-68ef9e176817-9e176815" class="banner-info">
          <div id="w-node-_5cb3cddc-fa2b-074d-8094-68ef9e176818-9e176815" class="banner-new-tag">New Article!</div>
          <div id="w-node-_5cb3cddc-fa2b-074d-8094-68ef9e17681a-9e176815" class="banner-text">Most Common Attack Vectors, Introduction</div>
        </div>
      </div>
    </a>
    <div class="footer-wrap">
      <div class="w-layout-grid footer-grid">
        <div id="w-node-_5cb3cddc-fa2b-074d-8094-68ef9e17681e-9e176815" class="footer-link-column top">
          <a href="index.html" aria-current="page" class="brand-logo-link w-inline-block w--current"><img src="images/58f322539377c4d97bfdc4882eb80ab9-256.png" loading="lazy" alt="" class="brand-logo-img">
            <div>noah</div>
          </a>
          <p class="contact-email-footer">hello@noahdasilva.com</p>
          <a href="contact.html" class="btn w-button">Get in touch</a>
        </div>
        <div class="footer-link-column">
          <div class="footer-header">Navigation</div>
          <a href="index.html" aria-current="page" class="footer-link w--current">Home</a>
          <a href="about.html" class="footer-link">About</a>
          <a href="portfolio.html" class="footer-link">Portfolio</a>
        </div>
        <div id="w-node-_5cb3cddc-fa2b-074d-8094-68ef9e176832-9e176815" class="footer-link-column">
          <div class="footer-header">Community</div>
          <a href="blog.html" class="footer-link">Blog</a>
          <a href="blog/tags.html" class="footer-link">View all tags</a>
          <a href="contact.html" class="footer-link">Contact</a>
        </div>
        <div class="footer-link-column">
          <div class="footer-header">Account</div>
          <a href="account.html" class="footer-link">Profile</a>
          <a href="sign-up.html" class="footer-link">Sign up</a>
          <a href="sign-in.html" class="footer-link">Sign in</a>
        </div>
        <div class="footer-link-column">
          <div class="footer-header">Social</div>
          <div class="footer-social-links">
            <a href="https://github.com/n0ahdasilva" target="_blank" class="footer-link-block w-inline-block"><img src="images/GitHub-Mark-Light-120px-plus.png" loading="lazy" alt="GitHub logo" class="nav-menu-icon small"></a>
            <a href="https://www.instagram.com/n0ahdasilva/" target="_blank" class="footer-link-block w-inline-block"><img src="images/instagram-fill.svg" loading="lazy" alt="Instagram logo" class="nav-menu-icon small"></a>
            <a href="https://www.linkedin.com/in/n0ahdasilva/" class="footer-link-block w-inline-block"><img src="images/linkedin-box-fill.svg" loading="lazy" alt="LinkedIn logo" class="nav-menu-icon small"></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p class="footer-copyright-text">All Right Reserved 2022 - Noah Da Silva</p>
      </div>
    </div>
  </div>