{% extends 'base.html' %}
{% load widget_tweaks %}

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Forgot Password | Noah Da Silva</title>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Enter new password</h1>
      <div class="auth-form w-form">
        <form method="post" action="#" class="auth-form">
          {% csrf_token %}
          <div>
            <label>New password</label>
            {% render_field form.new_password1 type="password" class="input w-input" placeholder="Enter new password..." %}
            <span style="font-size: 14px;">{{ form.new_password1.errors }}</span>
          </div>
          <div>
            <label>Confirm password</label>
            {% render_field form.new_password2 type="password" class="input w-input" placeholder="Confirm new password..." %}
            <span style="font-size: 14px;">{{ form.new_password2.errors }}</span>
          </div>
          <button class="submit-btn w-button">Reset password</button>    
          <div class="auth-form-redirect-div">
            <a href="{% url 'login' %}" class="auth-redirect-link w-inline-block">
              <div>Remember your password?</div>
              <div><span class="gradient-span">Log in</span></div>
            </a>
          </div>
          {{ form.non_field_errors }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}