{% extends 'base.html' %}
{% load widget_tweaks %}

{% block seo %}
<title>Forgot Password | Noah Da Silva</title>
<meta name="description" content="Enter your email and we'll send you instructions on how to reset your password.">
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Forgot Password"/>
<meta propety="og:description" content="Enter your email and we'll send you instructions on how to reset your password."/>
<meta property="og:url" content="https://www.noahdasilva.com/forgot/password-reset"/>
<meta propety="og:image" content="{% static 'main/img/IMG_0074-1250px.png' %}"/>
{% endblock %}

{% block head_scripts %}
 <!-- reCAPTCHA API -->
 <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Reset your password</h1>
      <p>Enter your email and we'll send you instructions on how to reset your password.</p>
      <div class="auth-form w-form">
        <form method="post" action="{% url 'password_reset' %}" class="auth-form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div>
            <label>Email</label>
            {% render_field form.email type="email" class="input w-input" placeholder="Enter your email..." %}
            <span style="font-size: 14px;">{{ form.email.errors }}</span>
          </div>
          <!-- reCAPTCHA input -->
          {% render_field form.recaptcha type="hidden" id="g-recaptcha-response" %}
          <button class="submit-btn w-button">Send instructions</button>
          <!-- reCAPTCHA Privacy and Terms of Service disclosure -->
          <p style="font-size: 12px; margin-bottom: 0;" id="w-node-_92f09ec5-7e34-2292-6911-ac82a81f1d8b-9383a921">
            This page is protected by Google reCAPTCHA.
            <a href="https://policies.google.com/privacy" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Privacy</span>
            </a>
            &amp;
            <a href="https://policies.google.com/terms" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Terms</span>
            </a>.
          </p>
          <div class="auth-form-redirect-div">
            <a href="{% url 'login' %}" class="auth-redirect-link w-inline-block">
              <div>Remember your password?</div>
              <div><span class="gradient-span">Log in</span></div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<style>
  .grecaptcha-badge {
       opacity:0; !important;
  }
</style>
<script>
  //Global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_site_key }}', {action: "/contact/"}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{% endblock %}