{% extends 'base.html' %}
{% load widget_tweaks %}

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Forgot Password | Noah Da Silva</title>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Reset your password</h1>
      <p>Enter your email and we'll send you instructions on how to reset your password.</p>
      <div class="auth-form w-form">
        <form method="post" action="#" class="auth-form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div>
            <label>Email</label>
            {% render_field form.email type="email" class="input w-input" placeholder="Enter your email..." %}
            <span style="font-size: 14px;">{{ form.email.errors }}</span>
          </div>
          <button class="submit-btn w-button">Send instructions</button>    
          <div class="auth-form-redirect-div">
            <a href="{% url 'login' %}" class="auth-redirect-link w-inline-block">
              <div>Remember your password?</div>
              <div><span class="gradient-span">Log in</span></div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}