# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables (secret variables)
.env

# macOS file system cache
.DS_Store

# Database and content
db.sqlite3