{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Porfolio | Noah Da Silva</title>
<meta name="author" content="Noah Da Silva">
<meta name="keywords" content="portfolio, web development, web design, noahdasilva">
<meta name="description" content="Passionate for our craft, we seek to accomplish unique and elegant website designs, and to wow our clients along with their customers. All while fitting their plan and goals." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Portfolio" />
<meta propety="og:description" content="Passionate for our craft, we seek to accomplish unique and elegant website designs, and to wow our clients along with their customers. All while fitting their plan and goals." />
<meta property="og:url" content="https://www.noahdasilva.com/portfolio/"/>
<meta propety="og:image" content="{% static 'main/img/webclip.png' %}" />
{% endblock %} 

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>
{% endblock %}

{% block content %}
<div class="hero-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid hero-title-grid">
      <h1>Portfolio</h1>
      <p class="web-title-gradient">Explore and find inspiration for your projects.</p>
    </div>
    <div class="w-layout-grid dynamic-grid">

    {% if project_list %}
      {% for project in project_list %}

      <a href="{% url 'project' project.slug %}" class="nav-link-block-games w-inline-block">
        <div class="icon-square"><img src="{{ project.image.url }}" sizes="60px" alt="{{ project.name }} project preview" class="nav-img"></div>
        <div class="nav-content-wrap">
          <div class="menu-title">{{ project.name }}</div>
          <div class="nav-link-details">Explore the details</div>
        </div>
      </a>

      {% endfor %}
    {% else %}

    <a href="{% url 'home' %}" class="nav-link-block-games w-inline-block">
      <div class="icon-square"><img src="{% static 'main/img/placeholder-3x4-p-500.jpeg'%}" sizes="60px" alt="placeholder for project image" class="nav-img"></div>
      <div class="nav-content-wrap">
        <div class="menu-title">No projects</div>
        <div class="nav-link-details">Go back to homepage.</div>
      </div>
    </a>

    {% endif %}

    </div>
  </div>
</div>
<div class="anti-hero-section-light-purple wf-section">
  <div class="default-section-content">
    <div class="banner-content-div">
      <h2 class="h4-heading">Ready to make a move</h2>
      <p>A website tailored to you</p>
      <a href="{% url 'contact' %}" class="btn-white w-button">Let&#x27;s talk</a>
    </div>
  </div>
</div>
{% endblock %}