{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Two-Factor Authentication | Noah Da Silva</title>
{% endblock %}

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>

<!-- reCAPTCHA API -->
 <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Sign in</h1>
      <div class="auth-form w-form">
        <form method="POST" action="{% url 'login_tfa' %}" class="auth-form">
          {% csrf_token %}
          <p style="font-size: 12px; margin-bottom: 0;">
            Enter the sign-in 2FA code from your authenticator app.
          </p>
          <div>
            <label>2FA Code</label>
            {% render_field form.otp type="text" class="input w-input" placeholder="Enter your 2FA code..." %}
            <span style="font-size: 14px;">{{ form..errors }}</span>
          </div>
          <!-- reCAPTCHA input -->
          {% render_field form.recaptcha type="hidden" id="g-recaptcha-response" %}

          {{ form.non_field_errors }}
          
          {% if messages %}
            {% for message in messages %}

              {{ message }}
            
            {% endfor %}
          {% endif %}
          
          <button class="submit-btn w-button">Enter</button>
          <!-- reCAPTCHA Privacy and Terms of Service disclosure -->
          <p style="font-size: 12px; margin-bottom: 0;">
            This page is protected by Google reCAPTCHA.
            <a href="https://policies.google.com/privacy" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Privacy</span>
            </a>
            &amp;
            <a href="https://policies.google.com/terms" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Terms</span>
            </a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<style>
  .grecaptcha-badge {
       opacity:0; !important;
  }
</style>
<script>
  //Global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_site_key }}', {action: "/login/"}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{% endblock %}