{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<title>Log In | Noah Da Silva</title>
<meta name="author" content="Noah Da Silva">
<meta name="keywords" content="blog, technology, noahdasilva">
<meta name="description" content="Sign into your account." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Log In" />
<meta propety="og:description" content="Sign into your account." />
<meta property="" content="https://www.noahdasilva.com/login"/>
<meta propety="og:image" content="{% static 'main/img/webclip.png' %}" />
{% endblock %}

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>

<!-- reCAPTCHA API -->
 <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Sign in</h1>
      <div class="auth-form w-form">
        <form method="POST" action="{% url 'login' %}" class="auth-form">
          {% csrf_token %}
          <div>
            <label>Email</label>
            {% render_field form.username type="email" class="input w-input" placeholder="Enter your email..." %}
            <span style="font-size: 14px;">{{ form.username.errors }}</span>
          </div>
          <div>
            <label>Password</label>
            {% render_field form.password type="password" class="input w-input" placeholder="Enter your password..." %}
            <span style="font-size: 14px;">{{ form.password.errors }}</span>
          </div>
          <!-- reCAPTCHA input -->
          {% render_field form.recaptcha type="hidden" id="g-recaptcha-response" %}

          {% if request.GET.next %}

            <input type="hidden" name="next" value="{{ request.GET.next }}">
          
          {% endif %}

          {{ form.non_field_errors }}
          <button class="submit-btn w-button">Sign in</button>
          <!-- reCAPTCHA Privacy and Terms of Service disclosure -->
          <p style="font-size: 12px; margin-bottom: 0;">
            This page is protected by Google reCAPTCHA.
            <a href="https://policies.google.com/privacy" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Privacy</span>
            </a>
            &amp;
            <a href="https://policies.google.com/terms" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Terms</span>
            </a>.
          </p>
          <div class="auth-form-redirect-div">
            <a
              href="{% url 'sign_up' %}"
              class="auth-redirect-link w-inline-block">
              <div>Don&#x27;t have an account?</div>
              <div><span class="gradient-span">Create one</span></div>
            </a>
            <a
              href="{% url 'password_reset' %}"
              class="auth-redirect-link w-inline-block">
              <div><span class="gradient-span">Forgot password?</span></div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<style>
  .grecaptcha-badge {
       opacity:0; !important;
  }
</style>
<script>
  //Global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_site_key }}', {action: "/login/"}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{% endblock %}