{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<title>Log In | Noah Da Silva</title>
<meta name="description" content="Sign into your account." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Log In" />
<meta propety="og:description" content="Sign into your account." />
<meta property="og:url" content="https://www.noahdasilva.com/login/"/>
<meta propety="og:image" content="{% static 'main/img/IMG_0074-1250px.png' %}" />
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Sign in</h1>
      <div class="auth-form w-form">
        <form method="POST" action="{% url 'login' %}" class="auth-form">
          {% csrf_token %}
          <div>
            <label>Email</label>
            {% render_field form.username type="email" class="input w-input" placeholder="Enter your email..." %}
            <span style="font-size: 14px;">{{ form.username.errors }}</span>
          </div>
          <div>
            <label>Password</label>
            {% render_field form.password type="password" class="input w-input" placeholder="Enter your password..." %}
            <span style="font-size: 14px;">{{ form.password.errors }}</span>
          </div>

          {% if request.GET.next %}

            <input type="hidden" name="next" value="{{ request.GET.next }}">
          
          {% endif %}
          
          {{ form.non_field_errors }}
          <button class="submit-btn w-button">Sign in</button>
          <div class="auth-form-redirect-div">
            <a
              href="{% url 'sign_up' %}"
              class="auth-redirect-link w-inline-block">
              <div>Don&#x27;t have an account?</div>
              <div><span class="gradient-span">Create one</span></div>
            </a>
            <a
              href="{% url 'password_reset' %}"
              class="auth-redirect-link w-inline-block">
              <div><span class="gradient-span">Forgot password?</span></div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
