{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<title>Sign Up | Noah Da Silva</title>
<meta name="author" content="Noah Da Silva">
<meta name="keywords" content="blog, technology, noahdasilva">
<meta name="description" content="Create an account." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Sign Up" />
<meta propety="og:description" content="Create an account." />
<meta property="og:url" content="https://www.noahdasilva.com/sign-up"/>
<meta propety="og:image" content="{% static 'main/img/IMG_0074-1250px.png' %}" />
{% endblock %}

{% block head_scripts %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DFMQWT6N7S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DFMQWT6N7S');
</script>

<!-- reCAPTCHA API -->
 <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Sign up</h1>
      <div class="auth-form w-form">
        <form method="post" action="{% url 'sign_up' %}" class="auth-form">
          {% csrf_token %}
          <div>
            <label>Username</label>
            {% render_field form.username type="text" class="input w-input" placeholder="Enter a username..." %}
            <span style="font-size: 14px;">{{ form.username.errors }}</span>
          </div>
          <div>
            <label>Email</label>
            {% render_field form.email type="email" class="input w-input" placeholder="Enter an email..." %}
            <span style="font-size: 14px;">{{ form.email.errors }}</span>
          </div>
          <div>
            <label>Password</label>
            {% render_field form.password type="password" class="input w-input" placeholder="Enter a strong password..." %}
            <span style="font-size: 14px;">{{ form.password.errors }}</span>
          </div>
          <!-- reCAPTCHA input -->
          {% render_field form.recaptcha type="hidden" id="g-recaptcha-response" %}
          <button class="submit-btn w-button">Sign up</button>    
          <p style="font-size: 12px; margin-bottom: 0;">
            By signing up to create an account, you agree to our
            <a href="{% url 'terms_and_conditions' %}" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Terms &amp; Conditions</span>
            </a> and that you have reviewed our
            <a href="{% url 'privacy_policy' %}" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Privacy Policy</span>
            </a>.
            <!-- reCAPTCHA Privacy and Terms of Service disclosure -->
            This page is protected by Google reCAPTCHA.
            <a href="https://policies.google.com/privacy" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Privacy</span>
            </a>
            &amp;
            <a href="https://policies.google.com/terms" target="_blank" style="text-decoration: none;">
              <span class="gradient-span">Terms</span>
            </a>.
          </p>
          <div class="auth-form-redirect-div">
            <a href="{% url 'login' %}" class="auth-redirect-link w-inline-block">
              <div>Already have an account?</div>
              <div><span class="gradient-span">Log in</span></div>
            </a>
          </div>
          {{ form.non_field_errors }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<style>
  .grecaptcha-badge {
       opacity:0; !important;
  }
</style>
<script>
  //Global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_site_key }}', {action: "/contact/"}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{% endblock %}