{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<title>Sign Up | Noah Da Silva</title>
<meta name="description" content="Create an account." />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Sign Up" />
<meta propety="og:description" content="Create an account." />
<meta property="og:url" content="https://www.noahdasilva.com/sign-up"/>
<meta propety="og:image" content="{% static 'blog/img/IMG_0074-1250px.png' %}" />
{% endblock %}

{% block content %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Sign up</h1>
      <div class="auth-form w-form">
        <form method="post" action="#" class="auth-form">
          {% csrf_token %} {{ form.non_field_errors }}
          <div>
            <label>Username</label>
            {% render_field form.username type="text" class="input w-input" placeholder="Enter a username..." %}
            {{ form.username.errors }}
          </div>
          <div>
            <label>Email</label>
            {% render_field form.email type="email" class="input w-input" placeholder="Enter an email..." %}
            {{ form.email.errors }}
          </div>
          <div>
            <label>Password</label>
            {% render_field form.password type="password" class="input w-input" placeholder="Enter a strong password..." %}
            {{ form.password.errors }}
          </div>
          <button class="submit-btn w-button">Sign up</button>    
          <div class="auth-form-redirect-div">
            <a href="{% url 'login' %}" class="auth-redirect-link w-inline-block">
              <div>Already have an account?</div>
              <div><span class="gradient-span">Log in</span></div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}