{% extends 'base.html' %} {% load static %} {% block seo %}
<title>{{ post.title }} - Noah Da Silva</title>
<meta name="description" content="{{ post.summary }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="{{ post.title }}" />
<meta propety="og:description" content="{{ post.summary }}" />
<meta
  property="og:url"
  content="https://www.noahdasilva.com/blog/{{ post.slug }}"
/>
<meta propety="og:image" content="{{ post.image.url }}" />
{% endblock %} {% block content %}
<div class="default-section wf-section">
  <div class="w-layout-grid grid-blog-post">
    <div
      id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff226-bb83a922"
      class="img-blog-post-wrap"
    >
      <img
        sizes="92vw"
        loading="lazy"
        src="{{ post.image.url }}"
        alt=""
        class="img-blog-post"
      />
    </div>
    <div class="w-layout-grid grid-title-blog">
      <p
        id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff229-bb83a922"
        class="web-title-gradient"
      >
        {{ post.created_on|date:"F d, Y" }}
      </p>
      <h1 class="blog-heading">{{ post.title }}</h1>
      <div
        id="w-node-cf5b8a5e-04cf-ac28-38c5-921f144ff22d-bb83a922"
        class="title-line-spacer"
      ></div>
      <p class="title-blog-summary">{{ post.summary }}</p>
      <a
        href=" {{ post.author_plug }}"
        target="_blank"
        class="blog-author-link-block w-inline-block"
      >
        <p class="web-title-gray">By </p>
        <p class="web-title-gradient">
          {{ post.author.first_name }} {{ post.author.last_name }}
        </p>
      </a>
      <div
        id="w-node-be6f9a40-4a00-5f23-1d48-7a4fd7c6685e-bb83a922"
        class="tag-flex"
      >
        {% for tag in post.get_tags %}
        <h2 class="tag-div">#{{ tag }}</h2>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="section-container-post-body w-container">
    <div class="last-updated-block">
      <p class="web-title-gradient">Last updated</p>
      <div
        id="w-node-_0ad5ae62-7a30-1e3a-9512-bd0376b03112-bb83a922"
        class="blog-line-spacer"
      ></div>
      <p
        id="w-node-_0ad5ae62-7a30-1e3a-9512-bd0376b03113-bb83a922"
        class="web-title-gray"
      >
        {{ post.updated_on|date:"F d, Y" }}
      </p>
    </div>
    <div class="blog-post-body w-richtext">{{ post.content|safe }}</div>
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
    <div class="pagination-div short-top-margin">
      <a href="{% url 'edit-post' post.slug %}" class="btn w-button">Edit post</a>
    </div>
    <div class="pagination-div short-top-margin">
      <a href="{% url 'delete-post' post.slug %}" class="btn w-button"
        >Delete post</a
      >
    </div>
      {% endif %}
    {% endif %}
  </div>
  <div class="section-container-post-body w-container">
    <div class="post-like-div">
      <h2 class="h6-heading">Was this helpful?</h2>
      <div class="like-btn-div">
        <a href="#" class="btn large-text w-button"
          ><span class="fa900solid-span"></span></a
        >
        <a href="#" class="btn large-text w-button"
          ><span class="fa900solid-span"></span></a
        >
      </div>
    </div>
    <h2 class="h5-heading">3 Comments</h2>
    <div class="w-form">
      <form class="comment-form" action="#" method="post">
        <div id="w-node-cbc712d9-4784-f4ef-e32c-b56909c41c6d-bb83a922">
          <label for="user-comment">Leave a reply</label
          ><textarea
            id="user-comment"
            name="user-comment"
            maxlength="5000"
            data-name="user-comment"
            placeholder="Add a comment."
            class="input form-comment w-input"
          ></textarea>
        </div>
        <input
          type="submit"
          value="Post"
          data-wait="Please wait..."
          id="w-node-cbc712d9-4784-f4ef-e32c-b56909c41c71-bb83a922"
          class="submit-btn w-button"
        />
      </form>
      <div class="w-form-done">
        <div>Comment added to post!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    <div class="w-layout-grid post-comment-grid">
      <div
        id="w-node-_84580d0e-8897-2cfb-16c8-62b9016e70d4-bb83a922"
        class="post-comment-div"
      >
        <div class="user-comment-div">
          <p class="web-title-gradient">Tony Stark</p>
          <div
            id="w-node-_8b2cdc24-2a4f-15eb-81cd-7c2b6a80c219-bb83a922"
            class="blog-line-spacer"
          ></div>
          <p
            id="w-node-_8b2cdc24-2a4f-15eb-81cd-7c2b6a80c21a-bb83a922"
            class="web-title-gray"
          >
            April 5, 2022
          </p>
        </div>
        <p class="comment-paragraph">
          This was amazing. Can&#x27;t wait to build my next suit!
        </p>
      </div>
      <div
        id="w-node-_96416862-3cf5-bbfc-2002-23ff58d46279-bb83a922"
        class="post-comment-div"
      >
        <div class="user-comment-div">
          <p class="web-title-gradient">Noah Da Silva</p>
          <div
            id="w-node-_96416862-3cf5-bbfc-2002-23ff58d4627d-bb83a922"
            class="blog-line-spacer"
          ></div>
          <p
            id="w-node-_96416862-3cf5-bbfc-2002-23ff58d4627e-bb83a922"
            class="web-title-gray"
          >
            April 12, 2022
          </p>
        </div>
        <p class="comment-paragraph">
          Good post. Would of prefered more detailed explainations on each
          threat. Maybe make in-depth posts for each one?
        </p>
      </div>
      <div
        id="w-node-_48d3bd08-337d-985a-f780-52280467f8bd-bb83a922"
        class="post-comment-div"
      >
        <div class="user-comment-div">
          <p class="web-title-gradient">user2022</p>
          <div
            id="w-node-_48d3bd08-337d-985a-f780-52280467f8c1-bb83a922"
            class="blog-line-spacer"
          ></div>
          <p
            id="w-node-_48d3bd08-337d-985a-f780-52280467f8c2-bb83a922"
            class="web-title-gray"
          >
            June 14, 2022
          </p>
        </div>
        <p class="comment-paragraph">
          Hmm, never thought my browser would be so vulnerable to attacks.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="anti-hero-section-light-purple wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid title-grid">
      <p class="web-title">Finished reading?</p>
      <h2>Check out other posts just like this one.</h2>
    </div>
    <div class="w-layout-grid dynamic-grid">
      <a href="{% url 'blog-post' post_list.0.slug %}" class="blog-card-square w-inline-block" style="background-image: url({{ post_list.0.image.url }});">
          <div class="blog-card-div">
              <div class="tag-flex">
                  {% for tag in post_list.0.get_tags %}
                  <div class="tag-block">
                      <div class="hashtag">#</div>
                      <div class="hashtag">{{ tag }}</div>
                  </div>
                  {% endfor %}
              </div>
              <h3 class="card-heading centered">{{ post_list.0.title }}</h3>
              <div class="hashtag">{{ post_list.1.created_on|date:"F d, Y" }}</div>
          </div>
          <div class="gradient-overlay"></div>
      </a>
      <a href="{% url 'blog-post' post_list.1.slug %}" class="blog-card-square w-inline-block" style="background-image: url({{ post_list.1.image.url }});">
        <div class="blog-card-div">
            <div class="tag-flex">
                {% for tag in post_list.1.get_tags %}
                <div class="tag-block">
                    <div class="hashtag">#</div>
                    <div class="hashtag">{{ tag }}</div>
                </div>
                {% endfor %}
            </div>
            <h3 class="card-heading centered">{{ post_list.1.title }}</h3>
            <div class="hashtag">{{ post_list.1.created_on|date:"F d, Y" }}</div>
        </div>
        <div class="gradient-overlay"></div>
    </a>
      <a href="{% url 'blog-post' post_list.2.slug %}" class="blog-card-square w-inline-block" style="background-image: url({{ post_list.2.image.url }});">
          <div class="blog-card-div">
              <div class="tag-flex">
                  {% for tag in post_list.2.get_tags %}
                  <div class="tag-block">
                      <div class="hashtag">#</div>
                      <div class="hashtag">{{ tag }}</div>
                  </div>
                  {% endfor %}
              </div>
              <h3 class="card-heading centered">{{ post_list.2.title }}</h3>
              <div class="hashtag">{{ post_list.2.created_on|date:"F d, Y" }}</div>
          </div>
          <div class="gradient-overlay"></div>
      </a>
      <a href="{% url 'blog-post' post_list.3.slug %}" class="blog-card-square w-inline-block" style="background-image: url({{ post_list.3.image.url }});">
          <div class="blog-card-div">
              <div class="tag-flex">
                  {% for tag in post_list.3.get_tags %}
                  <div class="tag-block">
                      <div class="hashtag">#</div>
                      <div class="hashtag">{{ tag }}</div>
                  </div>
                  {% endfor %}
              </div>
              <h3 class="card-heading centered">{{ post_list.3.title }}</h3>
              <div class="hashtag">{{ post_list.3.created_on|date:"F d, Y" }}</div>
          </div>
          <div class="gradient-overlay"></div>
      </a>
  </div>
  <div class="pagination-div short-top-margin">
      <a href="{% url 'tags' %}" class="btn w-button">Explore all topics</a>
  </div>
  </div>
</div>
{% endblock %}