{% extends 'base.html' %} 
{% load widget_tweaks %} 

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Delete Post - Noah Da Silva</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h3-heading">Delete post...</h1>
      <div class="w-form">
        <form class="auth-form" action="#" method="POST">
          {% csrf_token %}
          <div>
            <p class="hero-paragraph">
              Are you sure you want to delete: <b>{{ post.title }}</b>?
            </p>
            <button class="submit-btn w-button">Delete post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
