{% extends 'base.html' %} {% load static %} {% block seo %}
<title>{{ tag.name}} Tag | Noah Da Silva</title>
<meta name="description" content="{{ tag.description }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="{{ tag.name }} Tag" />
<meta propety="og:description" content="{{ tag.description }}" />
<meta
  property="og:url"
  content="https://www.noahdasilva.com/blog/tags/{{ tag.slug }}"
/>
<meta
  propety="og:image"
  content="{% static 'blog/img/IMG_0074-1250px.png' %}"
/>
{% endblock %} {% block content %}
<div class="hero-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid hero-title-grid no-margin">
      <h1>
        <span class="gradient-span fa900solid-span">{{ tag.special }}</span> {{ tag.name }}
      </h1>
      <h2 class="hero-paragraph">
        <span class="gradient-span">{{ tag.description }}</span>
      </h2>
    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="default-section-content">
    <form action="/search" class="search-div w-form">
      <img
        src="{% static 'blog/img/search-img.png' %}"
        loading="lazy"
        alt=""
        class="search-icon"
      /><input
        type="search"
        class="search-bar w-input"
        maxlength="256"
        name="query"
        placeholder="Explore"
        id="search"
        required=""
      /><input type="submit" value="Search" class="search-btn w-button" />
    </form>
  </div>
</div>
<div class="default-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid single-col-grid">
      {% for post in post_list %}
        {% for tag_name in post.get_tags %}
          {% if tag.name == tag_name %}
      <a
        href="{% url 'blog-post' post.slug %}"
        class="blog-card w-inline-block"
      >
        <div
          class="blog-card-left"
          style="background-image: url({{ post.image.url }});"
        ></div>
        <div class="blog-card-right">
          <div class="top-wrapper">
            <div class="tag-flex start-justify">
              {% for tag in post.get_tags %}
              <div class="tag-block">
                <div class="hashtag-purple">#</div>
                <div class="hashtag">{{ tag }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="hashtag-purple">
              {{ post.created_on|date:"F d, Y" }}
            </div>
          </div>
          <h3 class="card-heading">{{ post.title }}</h3>
          <div class="card-description">
            {{post.summary|truncatechars:100 }}<br />
          </div>
          <div class="arrow-btn-txt">
            Read more <span class="fa900solid-span"></span>
          </div>
        </div>
      </a>
            {% endif %}
          {% endfor %}
        {% endfor %}
    </div>
    <div class="pagination-div">
      <a href="#" class="btn w-button">Load more</a>
    </div>
    <div class="banner-content-div">
      <h2 class="h4-heading">This place is a void!</h2>
      <p>There are currently no posts matching this tag.</p>
    </div>
  </div>
</div>
{% endblock %}
