{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block seo %}
<title>Tags | Noah Da Silva</title>
<meta name="description" content="What are you interested in? Dive into our library of resources by choosing a tag below."/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Tags" />
<meta propety="og:description" content="What are you interested in? Dive into our library of resources by choosing a tag below."/>
<meta property="og:url" content="https://www.noahdasilva.com/blog/tags/" />
<meta propety="og:image" content="{% static 'blog/img/IMG_0074-1250px.png' %}"/>
{% endblock %}

{% block content %}
<div class="hero-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid hero-title-grid no-margin">
      <h1><span class="gradient-span fa900solid-span"></span> Tags</h1>
      <h2
        id="w-node-_436c44ce-9df1-9882-c4d4-b3ec2a7b2789-774ef4fc"
        class="hero-paragraph no-margin"
      >
        <span class="gradient-span"
          >What are you interested in? Dive into our library of resources by
          choosing a tag below.</span
        >
      </h2>
    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="default-section-content">
    <div class="w-layout-grid tag-grid">
      {% for tag in tag_list %}
      <a href="{% url 'tag-detail' tag.slug %}" class="tag-link w-inline-block">
        <div class="tag-block">
          <div class="tag-purple"># </div>
          <div class="tag">{{ tag.name }}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="default-section wf-section">
  <div class="default-section-content">
    <form action="#search" class="search-div w-form">
      <img
        src="{% static 'blog/img/search-img.png' %}"
        loading="lazy"
        alt=""
        class="search-icon"/>
      {% render_field title_filter.form.title class="search-bar w-input" id="search" max_length="128" placeholder="Search by title" %}
      <input type="submit" value="Search" class="search-btn w-button" />
    </form>
  </div>
</div>
<div class="anti-hero-section wf-section">
  <div class="default-section-content">
    {% if post_list %}
    <div
      id="w-node-_595394b4-9006-2f7c-6bcc-3e12ba97ca85-774ef4fc"
      class="w-layout-grid single-col-grid"
    >
      {% for post in post_list %}
      <a
        href="{% url 'blog-post' post.slug %}"
        class="blog-card w-inline-block"
      >
        <div
          class="blog-card-left"
          style="background-image: url({{ post.image.url }});"
        ></div>
        <div class="blog-card-right">
          <div class="top-wrapper">
            <div class="tag-flex start-justify">
              {% for tag in post.get_tags %}
              <div class="tag-block">
                <div class="hashtag-purple">#</div>
                <div class="hashtag">{{ tag }}</div>
              </div>
              {% endfor %}
            </div>
            <div class="hashtag-purple">
              {{ post.created_on|date:"F d, Y" }}
            </div>
          </div>
          <h3 class="card-heading">{{ post.title }}</h3>
          <div class="card-description">
            {{post.summary|truncatechars:100 }}<br />
          </div>
          <div class="arrow-btn-txt">
            Read more <span class="fa900solid-span"></span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="pagination-div">
      <a href="#" class="btn w-button">Load more</a>
    </div>
    {% else %}
    <div class="banner-content-div">
      <h2 class="h4-heading">This place is a void!</h2>
      <p>There are currently no posts matching this title.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
