{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Dashboard | Noah Da Silva</title>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

  <div class="default-section no-padding wf-section">
    <div class="dashboard-wrapper">
      <div data-duration-in="300" data-duration-out="100" data-current="Profile" data-easing="ease" class="dashboard-tabs w-tabs">
        <div class="dashboard-nav-menu w-tab-menu">
          <a data-w-tab="Profile" class="navigation-item w-inline-block w-tab-link w--current">
            <div class="dashboard-nav-icon"></div>
            <div>Profile</div>
          </a>
          <a data-w-tab="Security" class="navigation-item w-inline-block w-tab-link">
            <div class="dashboard-nav-icon"></div>
            <div>Security</div>
          </a>
          <a data-w-tab="Log out" class="navigation-item w-inline-block w-tab-link">
            <div class="dashboard-nav-icon"></div>
            <div>Log out</div>
          </a>
        </div>
        <div class="dashboard-tabs-wrapper w-tab-content">
          <div data-w-tab="Profile" class="default-section w-tab-pane w--tab-active">
            <div class="dashboard-tab-content">

              {% if user.full_name %}

              <h1 class="h3-heading">Welcome back, <span class="gradient-span">{{ user.full_name }}</span>!</h1>
              
              {% else %}

              <h1 class="h3-heading">Welcome back, <span class="gradient-span">{{ user.username }}</span>!</h1>
              
              {% endif %}

              <div class="dashboard-row">
                <div class="dashboard-info-box third">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon"></div>
                    <h2 class="dashboard-heading">{{ user.get_profile_score }}</h2>
                    <div>Points</div>
                  </div>
                </div>
                <div class="dashboard-info-box third">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon green"></div>
                    <h2 class="dashboard-heading">{{ user.get_total_posts_comments }}</h2>
                    <div>Total comments</div>
                  </div>
                </div>
                <div class="dashboard-info-box third mobile-full-box">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon red"></div>
                    <h2 class="dashboard-heading">{{ user.get_total_posts_likes }}</h2>
                    <div>Total likes</div>
                  </div>
                </div>
                <div class="dashboard-info-box two-third">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon yellow"></div>
                    <h2 class="dashboard-heading">{{ user.date_joined|date:"F d, Y"  }}</h2>
                    <div>Date joined</div>
                  </div>
                </div>
                <div class="dashboard-info-box third mobile-full-box">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon purple"></div>
                    <h2 class="dashboard-heading">{{ user.get_total_posts_written }}</h2>
                    <div>Post written</div>
                  </div>
                </div>
              </div>
            </div>
            <form action"{% url 'dashboard' %}" method="post" class="dashboard-tab-content">
              {% csrf_token %} 
              <span style="font-size: 14px;">{{ form.non_field_errors }}</span>
              <h2 class="h4-heading">My Information</h2>
              <div class="dashboard-row">
                
                {% if not user %}

                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex"><img sizes="96px" width="100" src="{% static 'main/img/IMG_0074-1250px.png' %}" alt="" class="dashboard-img profile">
                    <div>
                      <button class="dashboard-heading-small gray">Change Avatar</button>
                    </div>
                  </div>
                </div>

                {% endif %}

                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Username</h3>
                    </div>
                    <div class="account-form w-form">
                      <div class="account-form-div">
                        <div id="w-node-_6c96194b-262c-23cf-81db-5c4df3519fc9-fd0192b4">
                          {% render_field form.username type="text" class="account-input w-input" placeholder="Enter new username..." %}
                          <span style="font-size: 14px;">{{ form.username.errors }}</span>
                        </div>
                        <div>
                          <button class="dashboard-heading-small gray">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Name</h3>
                    </div>
                    <div class="account-form w-form">
                      <div class="account-form-div">
                        <div id="w-node-_6c96194b-262c-23cf-81db-5c4df3519fc9-fd0192b4">
                          {% render_field form.full_name type="text" class="account-input w-input" placeholder="Enter your full name..." %}
                          <span style="font-size: 14px;">{{ form.full_name.errors }}</span>
                        </div>
                        <div>
                          <button class="dashboard-heading-small gray">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Email</h3>
                    </div>
                    <div class="account-form w-form">
                      <div class="account-form-div">
                        <div id="w-node-_6c96194b-262c-23cf-81db-5c4df3519fc9-fd0192b4">
                          {% render_field form.email type="text" class="account-input w-input" placeholder="Enter new email address..."%}
                          <span style="font-size: 14px;">{{ form.email.errors }}</span>
                        </div>
                        <div>
                          <button class="dashboard-heading-small gray">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="dashboard-tab-content">
              <h2 class="h4-heading">Applications</h2>
              <div class="dashboard-row">

                {% if user.is_staff %}

                <a href="{% url 'add-post' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% else %}

                <a href="{% url 'contact' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% endif %}

                  <div class="dashboard-box-padding horizontal-flex">
                    <div class="dashboard-img">
                      <span class="fa900solid-span gradient-span" style="font-size: 2rem;"></span>
                    </div>
                    <div>
                      <h3 class="dashboard-heading-small">Write post</h3>

                      {% if user.is_staff %}

                      <div class="dashboard-heading-small green">Available</div>
                      <div class="email-text-block">As <span class="gradient-span">{{ user.email }}</span></div>
                      
                      {% else %}

                      <div class="dashboard-heading-small red">Unavailable</div>
                      <div class="email-text-block">Requires permissions</div>
                      
                      {% endif %}

                    </div>
                  </div>
                </a>
                {% if user.is_staff %}

                <a href="{% url 'add-tag' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% else %}

                <a href="{% url 'contact' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% endif %}

                  <div class="dashboard-box-padding horizontal-flex">
                    <div class="dashboard-img">
                      <span class="fa900solid-span gradient-span" style="font-size: 2rem;"></span>
                    </div>
                    <div>
                      <h3 class="dashboard-heading-small">Create tag</h3>

                      {% if user.is_staff %}

                      <div class="dashboard-heading-small green">Available</div>
                      <div class="email-text-block">As <span class="gradient-span">{{ user.email }}</span></div>
                      
                      {% else %}

                      <div class="dashboard-heading-small red">Unavailable</div>
                      <div class="email-text-block">Requires permissions</div>
                      
                      {% endif %}

                    </div>
                  </div>
                </a>

                {% if user.is_staff %}

                <a href="{% url 'add-project' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% else %}

                <a href="{% url 'contact' %}" class="dashboard-info-box link-box w-inline-block">
                
                {% endif %}

                  <div class="dashboard-box-padding horizontal-flex">
                    <div class="dashboard-img">
                      <span class="fa900solid-span gradient-span" style="font-size: 2rem;"></span>
                    </div>
                    <div>
                      <h3 class="dashboard-heading-small">Add to portfolio</h3>
                      
                      {% if user.is_staff %}

                      <div class="dashboard-heading-small green">Available</div>
                      <div class="email-text-block">As <span class="gradient-span">{{ user.email }}</span></div>
                      
                      {% else %}
                      
                      <div class="dashboard-heading-small red">Unavailable</div>
                      <div class="email-text-block">Requires permissions</div>
                      
                      {% endif %}
                      
                    </div>
                  </div>
                </a>

                {% if user.is_superuser %}

                <a href="{% url 'admin:index' %}" class="dashboard-info-box link-box w-inline-block">

                  <div class="dashboard-box-padding horizontal-flex">
                    <div class="dashboard-img">
                      <span class="fa900solid-span gradient-span" style="font-size: 2rem;"></span>
                    </div>
                    <div>
                      <h3 class="dashboard-heading-small">Admin panel</h3>
                      <div class="dashboard-heading-small yellow">Manage</div>
                      <div class="email-text-block">View models and database entries</div>
                    </div>
                  </div>
                </a>

                {% endif %}

              </div>
            </div>
          </div>
          <div data-w-tab="Security" class="default-section w-tab-pane">
            <div class="dashboard-tab-content">
              <h1 class="h3-heading">Completion Score</h1>
              <div class="dashboard-row">
                <div class="dashboard-info-box progress-box">
                  <div class="dashboard-box-padding">
                    <div class="progress-wrapper">
                      <div class="progress-text-row">
                        <div class="progress-text-column">
                          <div class="progress-icon">
                            <div>1</div>
                          </div>
                          <div>Created</div>
                        </div>
                        <div class="progress-text-column">
                          <div class="progress-icon">
                            <div>2</div>
                          </div>
                          <div>Verified account</div>
                        </div>
                        <div class="progress-text-column">
                          <div class="progress-icon">
                            <div>3</div>
                          </div>
                          <div>Full name</div>
                        </div>
                      </div>
                      <div class="progress-bar-wrap">

                      {% if user %}

                        <div class="progress-bar" style="width: 33%"></div>
                        
                        {% if user.is_active %}

                        <div class="progress-bar" style="width: 66%"></div>
                          
                          {% if user.full_name %}

                          <div class="progress-bar" style="width: 100%"></div>

                          {% endif %}
                        {% endif %}
                      {%else%}

                        <div class="progress-bar" style="width: 5%"></div>

                      {% endif %}
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-tab-content">
              <h2 class="h4-heading">Account Status</h2>
              <div class="dashboard-row">
                <div class="dashboard-info-box third">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon red"></div>
                    <h3 class="dashboard-heading">{{ user.previous_failed_login_attempts }}</h3>
                    <div>Failed login attempts <span class="unfocused-text-span">(since last login)</span></div>
                  </div>
                </div>
                <div class="dashboard-info-box third">
                  <div class="dashboard-box-padding">

                  {% if user.previous_failed_login_attempts >= 5 %}
                  
                  <div class="colourful-icon yellow"></div>
                    <h3 class="dashboard-heading">At risk</h3>
                    <div>Account status</div>
                  </div>

                  {% else %}

                  <div class="colourful-icon yellow"></div>
                    <h3 class="dashboard-heading">Secure</h3>
                    <div>Account status</div>
                  </div>
                                      
                  {% endif %}

                </div>
                <div class="dashboard-info-box third mobile-full-box">
                  <div class="dashboard-box-padding">
                    <div class="colourful-icon purple"></div>

                    {% if user.previous_login %}

                    <h3 class="dashboard-heading-date">{{ user.previous_login|date:"F d, Y, H:i" }}</h3>

                    {% else %}

                    <h3 class="dashboard-heading">None</h3>
                    
                    {% endif %}

                    <div>Last login</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-tab-content">
              <h2 class="h4-heading">My Account</h2>
              <div class="dashboard-row">
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Account ID</h3>
                    </div>
                    <div>
                      <div>{{ user.id }}</div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Email</h3>
                    </div>
                    <div>

                    {% if user.is_active %}

                      <div class="dashboard-heading-small green">Verified</div>

                    {% else %}

                      <div class="dashboard-heading-small red">Not Verified</div>

                    {% endif %}

                    </div>
                  </div>
                </div>
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Password</h3>
                    </div>
                    <div class="account-form w-form">
                      <a href="{% url 'password_change' %}" class="dashboard-heading-small gray">Update</a>
                    </div>
                  </div>
                </div>

                {% if not user %}

                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">2FA via Email</h3>
                    </div>
                    <div>
                      <a href="#" class="dashboard-heading-small gray">Setup</a>
                      <div class="dashboard-heading-small red">Inactive</div>
                      <div class="dashboard-heading-small green">Active</div>
                    </div>
                  </div>
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">2FA via App</h3>
                    </div>
                    <div>
                      <a href="#" class="dashboard-heading-small gray">Setup</a>
                      <div class="dashboard-heading-small red">Inactive</div>
                      <div class="dashboard-heading-small green">Active</div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-info-box full-width">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Recovery Codes</h3>
                    </div>
                    <div>
                      <a href="#" class="dashboard-heading-small gray">View</a>
                    </div>
                  </div>
                </div>

                {% endif %}

              </div>
            </div>
            <div class="dashboard-tab-content">
              <h2 class="h4-heading">Manage Account</h2>
              <div class="dashboard-row">
                <a href="{% url 'delete_account' %}" class="dashboard-info-box link-box w-inline-block">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Delete Account</h3>
                      <div class="dashboard-heading-small red">Permanent</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div data-w-tab="Log out" class="default-section w-tab-pane">
            <div class="dashboard-tab-content">
              <h2 class="h4-heading">Close your session</h2>
              <div class="dashboard-row">
                <a href="{% url 'logout' %}" class="dashboard-info-box link-box w-inline-block">
                  <div class="dashboard-box-padding horizontal-flex">
                    <div>
                      <h3 class="dashboard-heading-small">Log out</h3>
                      <div class="dashboard-heading-small yellow">Currently logged in</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}