{% extends 'base.html' %}
{% load widget_tweaks %}

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Change Password | Noah Da Silva</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="auth-section wf-section">
  <div class="form-wrapper">
    <div class="auth-form-card-invisible">
      <h1 class="h4-heading">Password changed</h1>
      <p>Your password has been changed. You may go back to your dashboard.</p>
      <a href="{% url 'dashboard' %}" class="btn w-button">Dashboard</a>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}