{% extends 'base.html' %}
{% load static %} 

{% block seo %}
<meta name=”robots” content=”noindex”/>
<title>Not found | Noah Da Silva</title>
{% endblock %}

{% block content %}
<div class="anti-hero-section wf-section">
  <div class="default-section-content">
    <div
      class="lottie-404"
      data-w-id="7f05e697-737d-296a-b6f6-b692ae9bf8d8"
      data-animation-type="lottie"
      data-src="{% static 'blog/documents/16294-404-space-error.json' %}"
      data-loop="1"
      data-direction="1"
      data-autoplay="1"
      data-is-ix2-target="0"
      data-renderer="svg"
      data-default-duration="8.016666666666667"
      data-duration="0"
    ></div>
    <div class="w-layout-grid title-grid no-margin">
      <div class="title-div">
        <p class="web-title-gradient">404 Error</p>
        <h1>
          Seems like the
          <span class="gradient-span">coordinates</span> aren&#x27;t
          correct.<span class="gradient-span"></span>
        </h1>
        <p class="hero-paragraph">
          Let&#x27;s get our boots back on the ground.
        </p>
      </div>
      <div class="title-div">
        <a href="{% url 'home' %}" class="btn w-button">Ready for re-entry</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}