{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block seo %}
<title>Contact | Noah Da Silva</title>
<meta name="description" content="The Internet is one giant phone book, so get one browser search ahead of your competitors, and make the switch.">
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Noah Da Silva" />
<meta propety="og:title" content="Contact"/>
<meta propety="og:description" content="The Internet is one giant phone book, so get one browser search ahead of your competitors, and make the switch."/>
<meta property="og:url" content="https://www.noahdasilva.com/contact/"/>
<meta propety="og:image" content="{% static 'main/img/IMG_0074-1250px.png' %}"/>
{% endblock %}

{% block content %}
<div class="default-section wf-section">
  <div class="default-section-content">
    <div class="form-wrapper">
      <div class="contact-form-card">

        {% if from_email %}

        <h1 class="h3-heading">Your message has been sent.</h1>
        <div class="w-form">
          <div class="contact-form">
            <div id="w-node-da7f182b-a4d0-381b-3c4d-0e2b75615def-9383a921">
              <p class="hero-paragraph">We will get back to you shortly.</p>
            </div>
            <div id="w-node-da7f182b-a4d0-381b-3c4d-0e2b75615def-9383a921">
              <a href="{% url 'home' %}" class="btn w-button">Back to home</a>
            </div>
          </div>
        </div>

        {% else %}

        <h1 class="h3-heading">Contact form</h1>
        <div class="w-form">
          <form
            name="email-form"
            data-name="Email Form"
            method="post"
            class="contact-form"
            action="{% url 'contact' %}">
          {% csrf_token %}
            <div id="w-node-_92f09ec5-7e34-2292-6911-ac82a81f1d73-9383a921">
              <label for="Contact-Name">Your Name <span class="text-color-purple">*</span></label>
              {% render_field form.name type="text" class="input w-input" placeholder="Enter your name..." %}
              <span style="font-size: 14px;">{{ form.name.errors }}</span>
            </div>
            <div id="w-node-_92f09ec5-7e34-2292-6911-ac82a81f1d77-9383a921">
              <label for="Contact-Email">Email Address <span class="text-color-purple">*</span></label>
              {% render_field form.email type="email" class="input w-input" placeholder="Enter your email..." %}
              <span style="font-size: 14px;">{{ form.email.errors }}</span>
            </div>
            <div id="w-node-fb1b6738-34b3-98dd-d69a-6204ae5fa12d-9383a921">
              <label for="Contact-Company">Company</label>
              {% render_field form.company type="text" class="input w-input" placeholder="Enter company name..." %}
              <span style="font-size: 14px;">{{ form.company.errors }}</span>
            </div>
            <div id="w-node-c349e396-5177-8d0a-efff-6d2b125bc931-9383a921">
              <label for="Contact-Phone">Phone Number</label>
              {% render_field form.phone type="tel" class="input w-input" placeholder="Enter your phone number..." %}
              <span style="font-size: 14px;">{{ form.phone.errors }}</span>
            </div>
            <div id="w-node-da7f182b-a4d0-381b-3c4d-0e2b75615def-9383a921">
              <label for="Contact-Subject">Subject <span class="text-color-purple">*</span></label>
              {% render_field form.subject class="input form-select w-input" placeholder="Enter your phone number..." %}
              <span style="font-size: 14px;">{{ form.subject.errors }}</span>
            </div>
            <div id="w-node-_92f09ec5-7e34-2292-6911-ac82a81f1d87-9383a921">
              <label for="Contact-Message">Message</label>
              {% render_field form.message type="textarea" class="input form-message w-input" placeholder="How can we help you?" %}
              <span style="font-size: 14px;">{{ form.message.errors }}</span>
            </div>            
            <button id="w-node-_92f09ec5-7e34-2292-6911-ac82a81f1d8b-9383a921" class="submit-btn w-button">Send message</button>
            {{ form.non_field_errors }}
          </form>
        </div>

        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js?render=6LfLwzwhAAAAAAEc4n-sh9l7C6xgNDHFGmHOuQMT'></script>
{% endblock %}